<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/images/trd/favicon.ico" type="image/x-icon" />
  <title>TRD Timing Monitor</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600,400,300'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira:wght@100;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,400;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Open Sans';
      background: #fafafa;
    }

    main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1200px;
      height: 460px;
    }

    .l-card {
      display: inline-block;
      transition: 0.5s;
      overflow: hidden;
      width: 320px;
      padding: 0;
      margin: 24px auto;
      /*border: 1px solid #ddd;*/
      border-radius: 4px;
      /*background: #fff;*/
      /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);*/
    }

    .l-card:hover .thumbnail-wrapper:after {
      opacity: 1;
    }

    .l-card:hover .more-text {
      opacity: 1;
    }

    .l-thumbnail {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
    }

    .l-thumbnail .more-text {
      transition: 0.5s;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      padding: 6px 12px 8px;
      color: #fff;
      font-size: 14px;
      font-weight: lighter;
      line-height: 1;
      letter-spacing: 1px;
      border: 1px solid #fff;
      opacity: 0;
    }

    .thumbnail-wrapper {
      display: block;
      margin: 35px;
      padding: 0;
    }

    .thumbnail-wrapper:after {
      transition: 0.5s;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
    }

    .thumbnail-wrapper img {
      display: block;
      max-width: 100%;
    }

    .thumbnail-over {
      transition: 0.5s;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .text-content {
      padding: 16px;
    }

    .text-content .title {
      margin: 0 0 12px 0;
      font-size: 20px;
      color: #4cc48e;
      font-weight: bold;
    }

    .text-content .caption {
      margin: 0 0 12px 0;
      font-size: 14px;
      color: #555;
      font-weight: lighter;
    }

    .text-content .admin {
      margin: 0 0 12px 0;
      margin-bottom: 5px;
      font-size: 14px;
      color: #555;
      font-weight: bold;
    }


    .text-content .data {
      margin: 0 0 12px 0;
      margin-bottom: 5px;
      font-size: 14px;
      color: #555;
      font-weight: bold;
    }

    .text-content .restriction {
      margin: 0 0 12px 0;
      margin-bottom: 16px;
      font-size: 14px;
      color: #555;
      font-weight: bold;
    }

    .content-meta {
      overflow: hidden;
      width: 100%;
      font-size: 12px;
    }

    .content-meta .date {
      float: left;
      color: #aaa;
    }

    .content-meta .like {
      display: inline-block;
      float: right;
      color: #4cc48e;
    }

    .content-meta .like .material-icons {
      vertical-align: middle;
      font-size: 16px;
    }



    .flex_test-box {
      padding: 100px 75px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: row;
      align-content: stretch;
    }

    .flex_test-item {
      padding: 10px;
      color: #fff;
      /* 文字色 */
      margin: 10px;
      /* 外側の余白 */
      border-radius: 5px;
      /* 角丸指定 */
      font-size: 30px;
      /* 文字サイズ */
      width: 360px;
      /* 幅指定 */
      text-align: center;
      /* 文字中央揃え */
    }


    /* MAIN CONTENT CONFIGURATION */
    #main-content {
      margin-left: 210px;
    }

    .header,
    .footer {
      min-height: 60px;
      padding: 0 15px;
    }

    .header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1002;
      top: 0;
    }

    .black-bg {
      background: #ff0000;
      border-bottom: 9px solid #000000;
    }

    /*--sidebar toggle---*/

    .sidebar-toggle-box {
      float: left;
      padding-right: 15px;
      margin-top: 20px;
    }

    .sidebar-toggle-box .fa-bars {
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
    }


    .sidebar-closed>#sidebar>ul {
      display: none;
    }

    .sidebar-closed #main-content {
      margin-left: 0px;
    }

    .sidebar-closed #sidebar {
      margin-left: -180px;
    }

    a.logo {
      font-size: 20px;
      color: #f2f2f2;
      float: left;
      margin-top: 15px;
      text-transform: uppercase;
      font-family: 'Saira', sans-serif;
    }

    a.logo b {
      font-weight: 900;
    }

    a.logo:hover,
    a.logo:focus {
      text-decoration: none;
      outline: none;
    }

    a.logo span {
      color: #4ECDC4;
    }

    #container {
      width: 100%;
      height: 100%;
    }

    .user_link {
      margin: 0px 0px 0px 20px;
      padding-left: 1.5em;
      font-size: 1.2em;
      font-weight: bold;
      display: inline;
      vertical-align: middle;
      color: #FFF;
      font-family: 'Saira', sans-serif;
    }
  </style>
  <script>
    window.console = window.console || function (t) { };
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
</head>

<body translate="no">


  <section id="container">
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        <td valign="bottom" align="right" width="70" style="padding-right: 10px">
          <a href="" target="_blank"><img src="/images/trd/TGR-D_logo_whitebase.png" border="0" width="70"></a>
        </td>
      </div>
      <!--logo start-->
      <a class="logo"><b>TGR-D LAPTIME SYSTEM</b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu"> 
          <a id="userid" class="user_link">
            @ <%= id %>
            <% if (typeof role !== 'undefined') { %>
              <% if (role === 'admin') { %>
                <span style="color: #FFD700; font-size: 0.9em;"> (管理者)</span>
              <% } else if (role === 'user') { %>
                <span style="color: #90EE90; font-size: 0.9em;"> (一般)</span>
              <% } else if (role === 'viewer') { %>
                <span style="color: #87CEEB; font-size: 0.9em;"> (閲覧)</span>
              <% } %>
            <% } %>
          </a>
        </ul>
      </div>
    </header>
  </section>



  <div class="flex_test-box">
    <div id="monitor" class="flex_test-item">
      <div class="l-card">
        <div class="l-thumbnail">
          <figure class="thumbnail-wrapper"><img src="/images/time.png" /></figure>
          <span class="more-text">MOVE TO MONITOR</span>
        </div>
      </div>
    </div>

    <% if (typeof role !== 'undefined' && (role === 'admin' || role === 'user')) { %>
    <div id="download" class="flex_test-item">
      <div class="l-card">
        <div class="l-thumbnail">
          <figure class="thumbnail-wrapper"><img src="/images/download_trd.png" /></figure>
          <span class="more-text">MOVE TO DOWNLOAD</span>
        </div>
      </div>
    </div>
    <% } %>

    <% if (typeof role !== 'undefined' && role === 'admin') { %>
    <div id="user" class="flex_test-item">
      <div class="l-card">
        <div class="l-thumbnail">
          <figure class="thumbnail-wrapper"><img src="/images/user_trd.png" /></figure>
          <span class="more-text">MOVE TO USER ADMIN</span>
        </div>
      </div>
    </div>
    <% } %>
    
    <div class="flex_test-item">
      <div id="logout" class="l-card">
        <div class="l-thumbnail">
          <figure class="thumbnail-wrapper"><img src="/images/logout.png" /></figure>
          <span class="more-text">MOVE TO LOGOUT</span>
        </div>
      </div>
    </div>


  </div>

  </main>

  <script>




    $(document).ready(function () {
      (function () {
        var ans;
        var bs = false;
        var ref = document.referrer;
        $(window).bind("unload beforeunload", function () {
          bs = true;
        });
        re = new RegExp(location.hostname, "i");
        if (ref.match(re)) {
          ans = true;
        } else {
          ans = false;
        }
        var that = this;
        if (ans) {
          return true;
          setTimeout(function () {
            if (!bs) {
              window.location.href = '/login/init';
            }
          }, 100);
        } else {
          window.location.href = '/login/init';
        }
        return false;
      })();
    });


    // ← 追加（EJS から受け取る）
    var uid = "<%= id %>";
    var sid = "<%= typeof sid !== 'undefined' ? sid : '' %>";

    $("#logout").click(function () {
      window.location.href = '/login/init';
    });

    var uid = "<%= id %>";
    var sid = "<%= typeof sid !== 'undefined' ? sid : '' %>";
    var username = "<%= id %>";

    $("#monitor").off('click').on('click', function () {
      var token = Math.random().toString(32).slice(2);
      var params = new URLSearchParams({
        ws: 'ws://www.racelive.jp:8061/get',
        sector: '0',
        speed: 'OFF',
        circuit: 'fsw',
        token: token,
        u: uid,
        s: sid,
        name: username
      }).toString();
      location.href = '/monitor/live?' + params;
    });

    $("#download").click(function () {
      window.location.href = '/data/download';
    });

    $("#user").click(function () {
      // 管理者の場合はユーザー管理画面へ
      var role = "<%= typeof role !== 'undefined' ? role : 'user' %>";
      if (role === 'admin') {
        window.location.href = '/user/admin';
      } else {
        alert('管理者権限が必要です');
      }
    });

  </script>

</body>

</html>